<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">UI / General</h1>
  </header>

  <ComponentDemo @title="Standard Button" @padded={{false}} @snippet="standard-button.hbs" @src="components.buttons.standard" />
  <ComponentDemo @title="Secondary Button" @padded={{false}} @snippet="secondary-button.hbs" @src="components.buttons.secondary" />
  <ComponentDemo @title="Action Button" @padded={{false}} @snippet="action-button.hbs" @src="components.buttons.action" />
  <ComponentDemo @title="Loading States" @padded={{false}} @snippet="loading-button.hbs" @src="components.buttons.loading" />

  <ComponentDemo @title="Tooltips" @padded={{false}} @snippet="tooltips.hbs" @src="components.tooltips" />
</div>