<div class="col bg-light min-height-full py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">UI / General</h1>
  </header>

  {{!-- <ComponentDemo @title="Alerts" @padded={{true}} @snippet="basic-alerts.hbs" @src="/components/alerts" /> --}}

  {{!-- <ComponentDemo @title="Badges" @padded={{true}} @snippet="text-badges.hbs" @src="/components/badges" /> --}}

  <ComponentDemo @title="Standard Button" @padded={{true}} @snippet="standard-button.hbs" @src="/components/buttons/standard" />
  <ComponentDemo @title="Secondary Button" @padded={{true}} @snippet="secondary-button.hbs" @src="/components/buttons/secondary" />
  <ComponentDemo @title="Action Button" @padded={{true}} @snippet="action-button.hbs" @src="/components/buttons/action" />
  <ComponentDemo @title="Loading States" @padded={{true}} @snippet="loading-button.hbs" @src="/components/buttons/loading" />
</div>