<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Design System Quick Start</h1>
  </header>

  <h3 class="text-primary  mb-4">Quick Links</h3>

  <div class="mb-3 text-right">
    <a href="#usage">Jump to usage instructions</a>
  </div>

  <div class="mb-8">
    <div class="row mb-4">
      <div class="col">
        <LinkTo @route="docs.brand.logo">
          <section class="text-center bg-white py-5">
            {{svg-jar "hero.brand" class="mb-3"}}
            <h1 class="display-3">Brand</h1>
          </section>
        </LinkTo>
      </div>
      <div class="col">
        <LinkTo @route="docs.general">
          <section class="text-center bg-white py-5">
            {{svg-jar "hero.general" class="mb-3"}}
            <h1 class="display-3">General UI</h1>
          </section>
        </LinkTo>
      </div>
      <div class="col">
        <LinkTo @route="docs.general.forms">
          <section class="text-center bg-white py-5">
            {{svg-jar "hero.forms" class="mb-3"}}
            <h1 class="display-3">Forms</h1>
          </section>
        </LinkTo>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <LinkTo @route="docs.components.charts">
          <section class="text-center bg-white py-5">
            {{svg-jar "hero.charts" class="mb-3"}}
            <h1 class="display-3">Charts</h1>
          </section>
        </LinkTo>
      </div>
      <div class="col">
        <LinkTo @route="docs.components.cards">
          <section class="text-center bg-white py-5">
            {{svg-jar "hero.cards" class="mb-3"}}
            <h1 class="display-3">Cards</h1>
          </section>
        </LinkTo>
      </div>
      <div class="col">
        <LinkTo @route="docs.layouts">
          <section class="text-center bg-white py-5">
            {{svg-jar "hero.info" class="mb-3"}}
            <h1 class="display-3">Layout</h1>
          </section>
        </LinkTo>
      </div>
    </div>
  </div>

  <h3 class="text-primary mb-4" id="usage">Usage</h3>

  <p>
    This toolkit is built to be framework agnostic and extends the existing <a href="https://getbootstrap.com/docs/4.4/">Bootstrap 4</a> framework.
  </p>
  <h5>CSS</h5>
  <p>
    For the basic functionality you will need to include the css file file in your project.
    <br>This is located at <CodeSnippet class="" @copy="/dist/assets/sgtoolkit.css">/dist/assets/sgtoolkit.css</CodeSnippet>.
  </p>
  <h5>Fonts</h5>
  <p>
    The toolkit uses the Siemens Gamesa font <i>Weissenhof Grotesk</i>.
    <br>This font requires a licence so a suitable webfont version of this font should be included in your project.
  </p>
  <h5>Javascript</h5>
  <p>
    A number of seperate javascript files are available to use in your project depending on what componenets you are using.
  </p>
  <h6>Bootstrap Components</h6>
  <p>The basic bootstrap js functionality can be added by including the jquery, popperjs and bootsrap.</p>
  <p>
    <code>
      &lt;script src=&quot;https://code.jquery.com/jquery-3.4.1.slim.min.js&quot;&gt;&lt;/script&gt;<br>
      &lt;script src=&quot;https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js&quot;&gt;&lt;/script&gt;<br>
      &lt;script src=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
    </code>
  </p>

  <h6>Charts</h6>
  <p>The charts in these docs use the <a href="https://www.chartjs.org/">ChartJS</a> library. This requires the chart.js script and <a href="https://momentjs.com/">momentjs</a> for date manipulation.</p>
  <p>
    <code>
      &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js&quot;&gt;&lt;/script&gt;<br>
      &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js&quot;&gt;&lt;/script&gt;
    </code>
  </p>

  <h6>Timeline</h6>
  <p>
    The timeline component requries a custom js script to format timelines.
    <br>This is located at <code>vendor/timeline.js</code> directory if this repo.
  </p>

</div>