<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <LinkTo @route="docs.index">
    {{svg-jar "logo"}}
  </LinkTo>
  {{!-- <LinkTo @route="docs.index" class="navbar-brand">
    Design System
  </LinkTo> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {{#each navigation as |section|}}
        <li class="nav-item active">
          <LinkTo @route={{section.route}} class="nav-link">
            {{section.title}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>

<div class="container-fluid min-height-full">
  <div class="row-layout">
    <div class="col-sidebar min-height-full py-4 px-0">
      {{#each navigation as |section|}}
        <div class="px-3 text-uppercase text-muted"><small>{{section.title}}</small></div>
        <ul class="sg-nav nav flex-column">
          {{#each section.items as |item|}}
            <li class="nav-item">
              <LinkTo @route={{item.route}} class="nav-link text-right d-flex flex-row">
                {{svg-jar item.icon class="w-4 h-4"}}
                <div class="flex-fill">{{item.title}}</div>
              </LinkTo>
            </li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
    {{outlet}}
  </div>
</div>

<div class="toast-container">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash messageStyle="bootstrap"}}
  {{/each}}
</div>